In [ ]:
from connection import *
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.io as pio

In [246]:
header, data_consignments=get_data(SPREADSHEET_ID, "Data_Consignment")
def price_to_value(price):
    if isinstance(price, str):
        return float(price.replace("Rp. ", "").replace(",",""))
    else:
        return price

In [231]:
header, data_consignments=get_data(SPREADSHEET_ID, "Data_Consignment")
df_consignment=pd.DataFrame(data_consignments, columns=header)
df_consignment["Consignment Date"]=pd.to_datetime(df_consignment["Consignment Date"])

In [194]:
df_consignment["Consignment Date"]=pd.to_datetime(df_consignment["Consignment Date"])
df_consignment["Price Seller"]=df_consignment["Price Seller"].apply(price_to_value)

df_consignment["Price - Sold"]

In [245]:
isinstance(df_consignment["Price - Sold"][0], float)

True

In [239]:
# df_consignment["Price - Sold"]=df_consignment["Price - Sold"].apply(price_to_value)

In [243]:
if df_consignment["Price - Sold"][0]:
    print("A")

A

In [280]:
header, data_consignments=get_data(SPREADSHEET_ID, "Data_Consignment")
df_consignment=pd.DataFrame(data_consignments, columns=header)
df_consignment.replace(['', ' '], np.nan, inplace=True)
df_consignment.fillna(np.nan, inplace=True)
df_consignment.fillna({"Sold in": "Not yet Sold"}, inplace=True)
df_consignment["Consignment Date"]=pd.to_datetime(df_consignment["Consignment Date"])
df_consignment["Price Seller"]=df_consignment["Price Seller"].apply(price_to_value)
df_consignment["Price - Sold"]=df_consignment["Price - Sold"].apply(price_to_value)
df_consignment["Profit"]=df_consignment["Profit"].apply(price_to_value)

dateranges=["2025-09-01", "2025-10-31"]
df_filtered=df_consignment.where(
    (df_consignment["Consignment Date"]>=dateranges[0])*(df_consignment["Consignment Date"]<=dateranges[1])
).dropna(how="all").reset_index(drop=True)
df_filtered.replace(['', ' '], np.nan, inplace=True)
df_filtered.fillna(np.nan, inplace=True)
df_filtered["Consignment MonthDate"]=df_filtered["Consignment Date"].apply(lambda d: f"{d.year}-{d.month}")

In [282]:
monthlyconsignedsold

                                         Price Seller  Price - Sold  Profit
Consignment MonthDate Consignment Month
2025-10               Oct-25                        4             0       0
2025-9                Sep-25                      280            13      13

In [281]:
monthlyfinance=df_filtered.groupby(["Consignment MonthDate", "Consignment Month"]).agg(
    {
        "Price Seller": "sum",
        "Price - Sold": "sum",
        "Profit": "sum",
    }
)

monthlyconsignedsold=df_filtered.groupby(["Consignment MonthDate", "Consignment Month"]).agg(
    {
        "Price Seller": "count",
        "Price - Sold": "count",
        "Profit": "count",
    }
)

In [ ]:
monthlyfinance.sort_values(by="Consignment MonthDate", inplace=True)
monthlyfinance.reset_index(inplace=True)
monthlyfinance.drop("Consignment MonthDate", axis=1)

  Consignment Month  Price Seller  Price - Sold  Profit
0            Oct-25    14700000.0           0.0     0.0

In [250]:
monthlyfinance

                   Price Seller  Price - Sold      Profit
Consignment Month
Oct-25               14700000.0           0.0 -14700000.0

In [40]:
import numpy as np
value/np.nansum(per_status.values)

np.float64(0.010238907849829351)